#rscBanner div.banner-content{
    background-image: url(../img/ai_research_assistant.jpg)!important;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

#rscBanner h2.banner-title{
    line-height: 32px;
    padding: 10px;
}

#rscBanner .banner-display-name{
    display:none;
}

#rscBanner div:hover .banner-title,
#rscBanner div:focus .banner-title,
#rscBanner:hover .banner-title,
#rscBanner:focus .banner-title{
    font-size: 43px;
    opacity: 1;
    color: white;
    word-spacing: 0;
    text-transform: uppercase;
    line-height: 32px;
    position: static;
    background: black;
    height: 52px;
}

#rscBanner div:hover md-card-title-text.md-truncate,
#rscBanner div:focus md-card-title-text.md-truncate,
#rscBanner:hover md-card-title-text.md-truncate,
#rscBanner:focus md-card-title-text.md-truncate{
    margin-bottom: 4.8px;
    padding: 29px 0;
}

#rscBanner div:hover .bigger-title,
#rscBanner div:focus .bigger-title,
#rscBanner:hover .bigger-title,
#rscBanner:focus .bigger-title{
    margin-bottom: 4.8px
}

#rscBanner div:hover .banner-subhead,
#rscBanner div:focus .banner-subhead,
#rscBanner:hover .banner-subhead,
#rscBanner:focus .banner-subhead{
    display: block;
}


