/* Bug fixing: after adding the announcement bar the overlays (like when you click on the more (...) button) don't
show up properly and the following code fixes it */

md-backdrop, .md-dialog-container {
 position: fixed;
}

/* Bug fixing: Fix for at un-favorite dialog box takes up the whole space
   because of the line above */
md-list md-list-item .md-dialog-container {
  position: absolute;
}

.md-dialog-container,
div.md-scroll-mask{
  top: 48px!important;
}

md-toast {
  z-index: 78;
}

