button[aria-label="nui.aria.request.calcPlaceInQueue"]{
    background-color: #002E70;
    border: 1px solid #002E70;
    color: white;
    font-family: "nowayregular", sans-serif;
    height: 2.875rem;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    border-radius: 5px;
}