prm-collection-discovery h3{
    margin-left: 0;
}

prm-collection-discovery  md-content.md-primoExplore-theme{
    max-width: 1280px;
    margin: auto;
    background-color: white;
}

prm-topbar.transparent-top-bar .top-nav-bar .md-button:not(.disable-hover),
prm-collection-discovery prm-collection-gallery-header .collection-header-inner.has-backdrop-image .collection-info{
    color: white;
}

prm-collection-discovery prm-gallery-item .collection-element .item-title,
prm-collection-discovery h3 span{
    color:#002E70;
}

prm-collection-discovery .collection-header-inner.has-backdrop-image prm-collection-navigation-breadcrumbs-item .md-button.button-as-link.link-alt-color,
prm-collection-discovery .collection-header-inner.has-backdrop-image .skewed-divider {
    color: #96E2FD!important;
}

prm-collection-discovery figure {
    height: auto;
}

prm-collection-discovery prm-gallery-collection,
prm-collection-discovery prm-gallery-item{
    box-shadow: 1px 1px 5px 0px rgb(200 200 200);
}

prm-collection-discovery prm-gallery-collection .collection-folder h3,
prm-collection-discovery prm-gallery-item .collection-element .item-title,
prm-collection-navigation-breadcrumbs-item.root-item,
prm-collection-navigation-breadcrumbs-item.root-item .md-button span{
    font-weight: 400!important;
}


