/*!*Styles for primo-explore-help-menu: MW 20190409 *!*/

#search-help-menu-content h2 {font-weight: 500;}
#search-help-menu-content h3 {font-weight: 400;}
#search-help-menu-content img {
  border: 2px solid #999999;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}
a.helpMenu--location-button, prm-report-problem button.report-problem-btn {
  padding: 6px;
  background-color: #22647B;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

div.helpMenu--location{
	padding-bottom: 10px;
}

#search-help-dialog ul li{ list-style: none;}
#search-help-dialog a:hover{background-color: transparent;box-shadow: none;}
#search-help-dialog md-dialog-actions {display:none;}


/* Search help button */
help-button .md-button.md-icon-button.search-help-button, prm-report-problem button.report-problem-btn{
  border-radius: 0;
  background: #0F2E70 0 0 no-repeat padding-box;
  box-shadow: 0 0 6px #32323259;
  border: 1px solid #FFFFFF;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  margin: 0;
  position: fixed;
  top: calc(50% + 144px);

  right:0
}

help-button .search-help-button.md-button:hover, prm-report-problem button.report-problem-btn:hover{
  width: auto;
  padding-right: 30px;
}

help-button .search-help-button.md-button:hover md-icon:before, prm-report-problem button.report-problem-btn md-icon{
  vertical-align: top;
}

help-button .search-help-button.md-button span{
  display:none;
  width: 0;
  float: left;
  padding-right: 5px;
}

help-button .search-help-button.md-button:hover span{
  display: inline;
  width: auto;
}

help-button .search-help-button.md-button:hover md-icon{
  margin: 0;
}

help-button .search-help-button.md-button:hover svg{
  display: inline;
}

help-button .search-help-button.md-button,
help-button .search-help-button.md-button:hover,
help-button .search-help-button.md-button.md-focused{
  color: white!important;
}

#helpMenu md-toolbar{
  background-color: #0F2E70;
  color:white;
}
#helpMenu .md-dialog-content{
  min-height: 350px;
}
#helpMenu md-toolbar md-icon{
  margin-right:-4px;
  margin-top: -4px;
}

#helpMenu md-toolbar .md-button,
#helpMenu md-toolbar .sub-menu a:hover{
  color: white;
}
#helpMenu md-toolbar .md-toolbar-tools{
  padding-left: 2px;
  padding-right: 2px;
}

#helpMenu md-toolbar .md-button{
  /*width:20px;*/
}
#helpMenu md-toolbar .sub-menu a,
#helpMenu md-toolbar .sub-menu a:hover{
  text-decoration: underline;
}

#helpMenu md-toolbar .sub-menu{
  font-size: 15px;
}

#helpMenu .help-menu-cover-page{
  height: 100vh;
  background-color: #4a667c;
  width:100%;
  z-index:79;
  opacity: 0.48;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.md-dialog-container#helpMenu .help-menu-cover-page{
  visibility: visible;
}

#search-help-dialog{
z-index: 80;
}

/*Mowing feedback button*/

prm-report-problem .report-container .report-problem-btn prm-icon md-icon {
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  display: none;
}

prm-report-problem .report-container .md-button.report-problem-btn:hover{
  background-color: #F4B664;
}

prm-report-problem .report-container .report-problem-btn:hover::before {
  color: #002E70;
  padding-right: 1em;
}

prm-report-problem .report-container .report-problem-btn:hover {
  width: auto;
  background-color: #F4B664;
}

prm-report-problem .report-container button.report-problem-btn{
  background-color: #F4B664!important;
  top: calc(50% + 186px);
  width: 40px;
  height: 40px;
  min-height: 24px;
  min-width: 24px;
  right: 0;
  background-image: url(../img/brokenlink.svg);
  background-position: right;
  line-height: 25px;
}

prm-report-problem .report-problem-content.report-menu-content-desktop {
  border-radius: 0;
  border: 1px solid #002E70;
}

prm-report-problem #closeReportBrokenLink{
  color: #002e70;
  position: absolute;
  right: 15px;
  text-decoration: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  stroke: #002e70;
}

/*<md-tooltip md-delay="400" class="md-panel md-tooltip md-origin-bottom md-primoExplore-theme md-show" tabindex="-1" style="pointer-events: all;" role="tooltip"><span translate="report.tooltip">Giv os feedback</span></md-tooltip>*/

prm-report-problem .report-problem-content.report-menu-content-desktop div.report-header {
  background-color: #F4B664;
}

prm-report-problem .report-problem-content.report-menu-content-desktop div.report-header h2{
  color: #002E70;
  font-weight: normal;
}
prm-report-problem .form-content button.button-link{
  background-color: #002E70 !important;
  color: white !important;
  border: 1px solid #0F2E70;
  border-radius: 5px;
}

prm-report-problem .form-content div.message-box{
  background-color: white;
  color: #0F2E70;
  border: 1px solid #0F2E70;
  border-radius: 0;
}

prm-report-problem .form-content button.button-link:hover{
  border-radius: 5px;
}

prm-report-problem .message-box:after{
  display: none;
}
.report-problem-content.report-menu-content-desktop {
  border-radius: 11px;
  z-index: 100;
  position: fixed;
  right: calc(50% - 133px);
  top: calc(50% - 200px);
}
