@charset "UTF-8";
/* Fixes bug in the kbdk-design file that makes 'afhentningssted' looks strange in full display */
body {
  overflow-x: unset; }

body, h1, h2, h3, h4 {
  letter-spacing: -0.2px;
  text-align: left;
  line-height: 24px;
  font-family: "nowaymedium", sans-serif; }

body, html {
  font-family: "nowayregular", sans-serif;
  font-size: 16px;
  color: #171717;
  background-color: white; }

h1 {
  font-family: "nowayregular", sans-serif;
  font-size: 36px;
  line-height: 48px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px;
  letter-spacing: -0.18px; }

mark {
  background-color: transparent;
  box-shadow: inset 0 -0.3em 0 0 #feec89; }

prm-search-bar .advanced-search-wrapper .inputs-row > md-input-container {
  margin-right: 1em; }

div.advanced-search-backdrop.visible {
  background-color: #caf0fe; }

prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
  color: #002e70; }

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced:hover:not([disabled]), prm-search-bar .search-switch-buttons .md-button.switch-to-advanced:focus:not([disabled]) {
  background-color: #fff;
  border-bottom: 2px solid #002E70;
  transition: border-bottom-color 0.1s ease-in-out; }

prm-search-bar .search-switch-buttons .md-button.switch-to-advanced > span {
  text-align: left;
  color: #002E70; }
  prm-search-bar .search-switch-buttons .md-button.switch-to-advanced > span:before {
    width: 35px;
    height: 35px;
    content: url("data:image/svg+xml, %3Csvg fill='%23002E70' xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='ManageSearchIcon'%3E%3Cpath d='M7 9H2V7h5v2zm0 3H2v2h5v-2zm13.59 7-3.83-3.83c-.8.52-1.74.83-2.76.83-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5c0 1.02-.31 1.96-.83 2.75L22 17.59 20.59 19zM17 11c0-1.65-1.35-3-3-3s-3 1.35-3 3 1.35 3 3 3 3-1.35 3-3zM2 19h10v-2H2v2z'%3E%3C/path%3E%3C/svg%3E"); }

prm-search-bar .search-switch-buttons .md-button.switch-to-simple:hover:not([disabled]), prm-search-bar .search-switch-buttons .md-button.switch-to-simple:focus:not([disabled]) {
  background-color: #002E70;
  color: white;
  border-bottom: 2px solid white;
  transition: border-bottom-color 0.1s ease-in-out; }

prm-search-bar .search-switch-buttons .md-button.switch-to-simple > span {
  text-align: left;
  background-color: #002E70;
  color: white;
  padding: 0 6px; }
  prm-search-bar .search-switch-buttons .md-button.switch-to-simple > span:before {
    width: 30px;
    height: 30px;
    color: white;
    content: url("data:image/svg+xml,%3Csvg id='close_cache506' width='100%25' fill='white' height='100%25' viewBox='0 0 24 24' y='240' xmlns='http://www.w3.org/2000/svg' fit='' preserveAspectRatio='xMidYMid meet' focusable='false'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z'%3E%3C/path%3E%3C/svg%3E"); }

.ext_not_restricted {
  color: #002e70; }

prm-brief-result .item-title span {
  color: #171717; }

h3.item-title a {
  text-decoration-line: none; }

md-tabs.tabs-as-app .back-button._md-focused:not([disabled]),
md-tabs.tabs-as-app .back-button.hovered:not([disabled]),
md-tabs.tabs-as-app .back-button.md-focused:not([disabled]),
md-tabs.tabs-as-app .back-button:focus:not([disabled]),
md-tabs.tabs-as-app .back-button:hover:not([disabled]) {
  background-color: #00193d; }

.request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore) {
  opacity: 1; }

.prm-alert-border, .bar.alert-bar, .classic-input .search-scope {
  border-color: #fff6c4; }

.prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
  background-color: #fff6c4; }

md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner h3 {
  color: #002e70; }

primo-explore > div {
  min-height: 70%; }

prm-search-result-list prm-search-result-tool-bar {
  padding-right: 1.5rem; }
  prm-search-result-list prm-search-result-tool-bar md-toolbar.md-toolbar-tools.results-title {
    background-color: white;
    padding-left: 1rem !important; }

prm-search-bookmark-filter #fixed-buttons-holder.fixed-to-top {
  top: 6em !important; }

kb-help-page #fixedButtonsHolder.fixed-to-top {
  top: 26em !important;
  position: fixed;
  right: 2em;
  z-index: 15;
  animation: animateStickyButtonIn 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) forwards; }
  kb-help-page #fixedButtonsHolder.fixed-to-top button {
    color: #080606;
    background-color: rgba(58, 58, 58, 0.1); }

prm-explore-main .header {
  z-index: unset; }

#searchResultsContainer prm-search-result-availability-line span.fulltext[translate="delivery.code.fulltext"] {
  color: #002e70; }

button span[class*="available"],
button span.fulltext {
  color: #002e70 !important; }

::selection {
  background: #D6D6D6; }

.dark-toolbar prm-pre-filters {
  color: #002e70; }

.medium-uppercase-bold {
  font-size: 1em;
  margin: 0;
  color: #002e70;
  padding-bottom: 20px; }

md-menu-item.kb-edit-pincode-ctm,
md-menu-item.kb-fine-and-fees-ctm,
md-menu-item.kb-print-acount-ctm {
  display: none; }

md-menu-item.kb-fine-and-fees-ctm a,
md-menu-item.kb-edit-pincode-ctm a,
md-menu-item.kb-print-acount-ctm a {
  box-shadow: none; }

md-menu-content md-menu-item.kb-fine-and-fees-ctm,
md-menu-content md-menu-item.kb-edit-pincode-ctm,
md-menu-content md-menu-item.kb-print-acount-ctm {
  display: flex; }

md-dialog.light-on-dark-dialog {
  background-color: rgba(0, 46, 112, 0.8);
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff; }
  md-dialog.light-on-dark-dialog .custom-links-container {
    padding-top: 20px;
    padding-bottom: 20px; }
  md-dialog.light-on-dark-dialog md-dialog-content prm-main-menu > div > div {
    background-color: #CAF0FE;
    color: #002e70; }
  md-dialog.light-on-dark-dialog .md-button {
    color: #002e70; }
  md-dialog.light-on-dark-dialog a.transparent-card {
    align-items: start;
    align-content: start; }
    md-dialog.light-on-dark-dialog a.transparent-card br {
      display: none; }
    md-dialog.light-on-dark-dialog a.transparent-card:hover, md-dialog.light-on-dark-dialog a.transparent-card:focus {
      background-color: transparent !important;
      border-bottom: none !important; }
    md-dialog.light-on-dark-dialog a.transparent-card > span:hover, md-dialog.light-on-dark-dialog a.transparent-card > span:focus {
      color: #002e70;
      background-color: transparent;
      border-bottom: 2px solid #002E70;
      transition: border-bottom-color 0.1s ease-in-out; }
    md-dialog.light-on-dark-dialog a.transparent-card > span.md-subhead {
      display: none; }

prm-topbar .md-button:not(.disable-hover):hover:not([disabled]):hover:not([disabled]):not(.close-btn-favorits-warning-message) {
  color: #002e70; }

prm-main-menu[menu-type=full] .custom-links-container .main-menu-button {
  width: 100%; }

prm-main-menu[menu-type=full] .md-button .md-headline, prm-main-menu[menu-type=full] .overlay-menu-item .md-headline {
  color: #002e70;
  font-weight: normal;
  font-size: 20px; }

prm-main-menu[menu-type=full] .custom-links-container .main-menu-button .transparent-card {
  padding: 0; }

.background-dark md-backdrop.md-opaque {
  top: 48px; }

prm-banner-card-content > a {
  display: inline;
  text-decoration: none; }
  prm-banner-card-content > a md-truncate.bigger-title.main-text-banner.md-truncate {
    line-height: normal; }

prm-resource-recommender .main-banner-content button[data-qa="close_banner_btn"],
prm-resource-recommender .main-banner-content button[data-qa="close_banner_btn"]:hover {
  color: #fff;
  background-color: #3a3a3a; }

prm-resource-recommender > div:not(.main-banner-content) {
  border: solid 1px lightgray;
  padding: 10px;
  position: relative;
  display: none; }
  prm-resource-recommender > div:not(.main-banner-content).visible {
    display: flex; }

prm-resource-recommender button#closeRecommender {
  position: absolute;
  top: 0;
  right: 0;
  color: #3a3a3a;
  display: none;
  background: rgba(58, 58, 58, 0.12); }
  prm-resource-recommender button#closeRecommender.visible {
    display: flex; }

#facets {
  /* 'Søg også materialer uden fuldtekstadgang' above 'Afgræns resultat' */ }
  #facets .section-title,
  #facets .sidebar-header {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0; }
  #facets h3.section-title-header,
  #facets strong {
    margin-left: 0;
    font-weight: 400 !important; }
  #facets md-icon {
    position: absolute;
    right: 0;
    top: 0; }
  #facets div.md-chip,
  #facets button.button-as-link {
    width: 100%; }
  #facets prm-facet-range button.button-as-link {
    width: 71px; }
  #facets md-icon[md-svg-icon="primo-ui:exclude-facet"] {
    position: relative; }
  #facets .primo-scrollbar {
    position: relative !important; }
  #facets .sidebar-inner-wrapper {
    display: flex;
    flex-direction: column; }
  #facets .sidebar-inner-wrapper .sidebar-section:nth-child(2) {
    order: -5; }

prm-facet .switch-results md-switch._md-checked ._md-label,
prm-facet .switch-results md-switch._md-checked .md-label,
prm-facet .switch-results md-switch._md-checked ._md-bar,
prm-facet .switch-results md-switch._md-checked .md-bar,
prm-facet .switch-results md-switch._md-checked ._md-thumb,
prm-facet .switch-results md-switch._md-checked .md-thumb,
prm-facet .switch-results md-switch.md-checked ._md-label,
prm-facet .switch-results md-switch.md-checked .md-label,
prm-facet .switch-results md-switch.md-checked ._md-bar,
prm-facet .switch-results md-switch.md-checked .md-bar,
prm-facet .switch-results md-switch.md-checked ._md-thumb,
prm-facet .switch-results md-switch.md-checked .md-thumb {
  color: #002E70; }

prm-facet .switch-results md-switch._md-checked ._md-bar,
prm-facet .switch-results md-switch._md-checked .md-bar,
prm-facet .switch-results md-switch._md-checked .md-thumb,
prm-facet .switch-results md-switch._md-checked ._md-thumb,
prm-facet .switch-results md-switch.md-checked ._md-bar,
prm-facet .switch-results md-switch.md-checked .md-bar,
prm-facet .switch-results md-switch.md-checked .md-thumb,
prm-facet .switch-results md-switch.md-checked ._md-thumb {
  background-color: #002E70; }

prm-facet .switch-results md-switch:focus.active,
prm-facet .switch-results md-switch:hover.active {
  background-color: #002E70; }

footer a {
  color: white !important; }

div.top-nav-bar {
  background-color: #96e2fd; }

prm-search-bar, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-discovery .collection-header-inner.has-transparent-topbar.layout-column {
  background-color: #caf0fe; }

prm-collection-discovery .collection-header-inner.has-transparent-topbar.layout-column,
prm-topbar .md-button:not(.disable-hover), prm-topbar .md-button.button-over-dark:not(.disable-hover) {
  color: #002e70; }

prm-topbar .md-button,
.md-button.button-over-dark,
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced,
.md-button.button-confirm {
  color: #002e70; }

.md-button.button-confirm:hover:not([disabled]) {
  color: #002e70; }

prm-topbar,
prm-main-menu[menu-type=menu] .md-button,
button, .md-button {
  font-family: "nowaymedium", sans-serif;
  font-weight: normal !important;
  font-size: 12px; }

.buttons-group div:first-child .md-button, .buttons-group .md-button {
  box-shadow: none; }

.search-options md-divider {
  display: none; }

.top-nav-bar > div.flex-50, .layout-row > .flex-0 {
  display: none; }

@media (min-width: 600px) {
  .search-elements-wrapper {
    max-width: 80% !important; }
    .search-elements-wrapper .body-wrapper {
      padding-left: 1em; } }

.top-nav-bar-links {
  padding-left: 2.5em;
  float: left;
  flex-direction: row;
  display: flex; }

prm-atoz-search-bar div.layout-column.flex-sm-85.flex-md-75.flex.flex-lg-55.flex-xl-50 {
  max-width: 100% !important; }

md-menu.md-menu._md button.button-with-menu-arrow:not(.user-menu-button) {
  display: none; }

header.help-page {
  display: flex;
  flex-direction: column; }
  header.help-page kb-navigation-header {
    order: -1; }

article.help-page {
  margin-top: 2rem; }

.top-nav-bar-links prm-icon md-icon, .top-nav-bar-links prm-icon md-icon.md-primoExplore-theme,
kb-language .md-button:not(.disable-hover):not(.close-btn-favorits-warning-message),
prm-user-area-expandable .md-button:not(.disable-hover):not(.close-btn-favorits-warning-message) {
  color: #002e70 !important; }

prm-user-area-expandable-after {
  display: flex; }

prm-user-area-expandable div[data-main-menu-item="new_user"] a {
  text-transform: uppercase;
  box-shadow: none; }

.prm-secondary-color.prm-hue1,
.link-alt-color,
.section-title prm-icon,
.result-item-actions .pin-button,
prm-add-query-to-saved-searches .custom-button.pin-button,
prm-search-bookmark-filter .prm-hue1.md-button,
prm-topbar .prm-hue1.top-nav-bar,
prm-pre-filters md-input-container.is-active :focus,
prm-account-overview .institutions-list md-list-item.is-selected
.institution-name,
prm-recomendation-item .media-on-hover .pin-button,
prm-tree-nav md-list md-list-item .md-button.branch-name.is-selected,
prm-tree-nav md-list md-list-item md-button.branch-name.is-selected,
.result-item-actions .md-icon-button {
  color: #171717 !important; }

button.button-notice {
  color: #002e70 !important; }
  button.button-notice:hover {
    background-color: transparent !important; }

prm-icon[icon-definition="magnifying-glass"] md-icon {
  transform: rotate(180deg) scaleY(-1);
  color: #171717 !important;
  font-size: 24px; }

.md-button.button-confirm:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]) {
  background-color: transparent; }

svg#magnifying-glass {
  transform: scale(-0.6, 0.6) !important; }

#action_list button.md-button:hover span.button-text {
  color: #171717 !important; }

#action_list prm-icon md-icon, #action_list span.button-text {
  color: #989898; }

.prm-full-view-dialog ~ .close-button.md-icon-button prm-icon,
.md-button.arrow-link-button .button-content:hover {
  color: #171717 !important; }

prm-icon[icon-definition="multiple-items"] md-icon {
  color: #989898 !important; }

button.button-large.button-with-icon md-icon[md-svg-icon="primo-ui:magnifying-glass"], button.button-large.button-with-icon span[translate="link.title.search.search"] {
  color: #002e70 !important; }

.result-item-actions .md-icon-button {
  color: #989898 !important; }
  .result-item-actions .md-icon-button:hover {
    color: #171717 !important; }

.icon.icon-facebook {
  background-image: url(../img/icon-facebook.svg); }

.icon.icon-twitter {
  background-image: url(../img/icon-twitter.svg); }

.page-notification {
  justify-content: left; }
  .page-notification a {
    color: #002E70; }
    .page-notification a:hover {
      box-shadow: none;
      background-color: transparent; }
  .page-notification .md-toast-content {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    min-height: 0; }
    .page-notification .md-toast-content:before {
      min-height: 0; }

prm-logo {
  display: none; }

.org_navigation-header {
  order: -3;
  position: relative;
  background-color: #002E70 !important;
  padding: 12px 0;
  display: block;
  height: 48px; }
  .org_navigation-header .inner-content {
    padding-left: 2.5em;
    padding-right: 2.5em;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
  .org_navigation-header .logo {
    background-image: url(../img/logo-navigation-header.svg);
    width: 95px; }
  .org_navigation-header #backTo {
    background-color: white;
    width: 130px;
    float: right;
    padding: 0 6px;
    box-shadow: inset 0 1px 1px #666;
    font-size: 12px;
    cursor: pointer; }
    .org_navigation-header #backTo .menu-arrow {
      display: inline-block;
      float: right; }
      .org_navigation-header #backTo .menu-arrow:after {
        display: block;
        content: "\25BC";
        position: relative;
        font-size: 13px;
        transform: scaleY(0.5) scaleX(1);
        color: #002E70; }
  .org_navigation-header #backToItems ul {
    position: absolute;
    top: 36px;
    right: 40px;
    width: 130px;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 1px solid #D6D6D6;
    border-top: none; }
    .org_navigation-header #backToItems ul li {
      list-style-type: none;
      border-top: 1px solid #D6D6D6; }
      .org_navigation-header #backToItems ul li a {
        width: 100%;
        font-size: 12px;
        padding: 0 6px;
        text-decoration: none; }
        .org_navigation-header #backToItems ul li a:hover, .org_navigation-header #backToItems ul li a:focus {
          box-shadow: none;
          background-color: transparent; }
      .org_navigation-header #backToItems ul li:hover, .org_navigation-header #backToItems ul li:focus {
        background-color: #eee;
        color: #002E70; }
      .org_navigation-header #backToItems ul li md-icon {
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        position: absolute;
        right: 6px;
        padding-top: 7px; }

prm-explore-main, prm-account, prm-full-view-cont, prm-alma-viewer {
  display: flex;
  flex-direction: column; }
  prm-explore-main kb-navigation-header, prm-account kb-navigation-header, prm-full-view-cont kb-navigation-header, prm-alma-viewer kb-navigation-header {
    order: -3; }
  prm-explore-main prm-topbar, prm-account prm-topbar, prm-full-view-cont prm-topbar, prm-alma-viewer prm-topbar {
    order: -2; }
  prm-explore-main prm-search-bar, prm-account prm-search-bar, prm-full-view-cont prm-search-bar, prm-alma-viewer prm-search-bar {
    order: -1; }

#select_value_label_7, #select_value_label_10 {
  padding-top: 0; }
  #select_value_label_7 span, #select_value_label_10 span {
    height: 100%; }

ul.md-autocomplete-suggestions li {
  list-style: none; }

.md-subheader._md.md-primoExplore-theme .text.tiny-uppercase-text {
  font-weight: 400 !important;
  text-transform: unset;
  font-style: italic;
  font-size: 16px;
  position: relative;
  top: -3px; }

div.list-item-wrapper {
  background-color: white; }
  div.list-item-wrapper h3.item-title {
    font-weight: 300; }
  div.list-item-wrapper a {
    text-decoration: none; }
  div.list-item-wrapper prm-brief-result .item-title span {
    color: #002e70; }
    div.list-item-wrapper prm-brief-result .item-title span mark {
      background-color: transparent;
      color: #002e70; }
  div.list-item-wrapper [class*="available"] {
    color: #989898; }
  div.list-item-wrapper span.button-content:hover,
  div.list-item-wrapper .md-button.arrow-link-button:hover .button-content {
    background-color: transparent !important;
    box-shadow: none !important; }
  div.list-item-wrapper .media-content-type, div.list-item-wrapper .prm-notice {
    font-family: "nowayregular", sans-serif;
    color: #989898; }
  div.list-item-wrapper .ext_not_restricted {
    color: #002e70; }

div.flex-order-4:empty {
  display: none; }

div.list-items-list {
  padding: .5em .75rem; }

prm-static[section="homepage"] {
  padding: 0; }
  prm-static[section="homepage"] .default-card {
    padding: 1.5rem; }
    prm-static[section="homepage"] .default-card .cell {
      padding-left: 1rem;
      padding-right: 1rem; }
  prm-static[section="homepage"] .org-c2710682-7e51-4505-bd94-d40665c25bda a {
    margin-bottom: .75rem; }
    prm-static[section="homepage"] .org-c2710682-7e51-4505-bd94-d40665c25bda a:hover, prm-static[section="homepage"] .org-c2710682-7e51-4505-bd94-d40665c25bda a:active {
      background-color: transparent;
      color: inherit;
      box-shadow: none; }
  prm-static[section="homepage"] .org-c2710682-7e51-4505-bd94-d40665c25bda a, prm-static[section="homepage"] .org-c2710682-7e51-4505-bd94-d40665c25bda a div {
    width: 100%; }

kb-home md-content a {
  text-decoration: none;
  color: #002E70; }
