/* Hide 'kopibestiling' button */
prm-location-items md-list md-list-item div.skewed-divider,
prm-location-items md-list md-list-item div[layout-align="end center"] > div:nth-child(2){
    display:none;
}

/* Style 'bestil' link as button */
prm-location-items prm-service-button .md-button.button-as-link{
    background-color: #002E70;
    border: 1px solid #002E70;
    color: white;
    font-family: "nowayregular", sans-serif;
    height: 2.875rem;
    font-size: .875rem;
    margin: 1rem;
    padding: 4.2px 16px!important;
    border-radius: 5px;
}
prm-location-items prm-service-button .md-button.button-as-link:hover:not([disabled]){
    background-color: #00193d;
    color: white;
}
prm-location .availability-status.unavailable {
    color: #002e70;
}
/* Change the color of pickup location to red,
   so it attracts more attention
   in relation to reading-room only loans */
div[translate="almaRequest.pickupLocation"]{
    color : red!important;
}
/* Hiding 'Udlån til biblioteker' which is reserved for
   Fjernlån department but shouldn't be used in Primo */
md-optgroup[label="Udlån til biblioteker"]{
    display: none;
}