/* Change the order, and move the send to section to the top */
#full-view-container > *:first-child {
    display: flex;
    flex-direction: column;
}

#action_list {
    order: -9 !important;
}

/* Create smaller space underneath the bar*/
#action_list {
    margin-bottom: 2.5em;
}

/*Hide the header for the send to section*/
#action_list .section-head {
    display: none;
}
/* Push the bar to the left */
#action_list md-nav-bar nav{
    justify-content: left;
}
#action_list .full-view-section-content{
    padding-left: 0;
}
/* Remove the services index navigation menu in the full display */
.full-view-inner-container .services-index-under{
    display: none;
}
