prm-resource-type-filter-bar .md-button {
    background-color: white;
    color: #171717!important;
}

prm-resource-type-filter-bar prm-icon,
prm-resource-type-filter-bar md-input-container{
    color: #002E70!important;
}

prm-resource-type-filter-bar .selectedResourceTypeOption prm-icon,
prm-resource-type-filter-bar .md-button:hover prm-icon{
    color: white!important;
}

prm-resource-type-filter-bar .selectedResourceTypeOption,
prm-resource-type-filter-bar .md-button:hover{
    background-color: #002E70!important;
    color: #fff!important;
}