/* Change the order of the elements in the right side of the top bar*/
prm-user-area-expandable {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

prm-user-area-expandable .user-button {
    order: 1 !important;
}

prm-user-area-expandable md-menu {
    order: 2 !important;
}

prm-user-area-expandable prm-user-area-expandable-after {
    order: 0 !important;
}

/* Hide language switcher */
prm-user-area-expandable prm-user-area-expandable-after .change-language{
    display:none;
}
/* Show language switcher if not logged in*/
prm-user-area-expandable button ~ prm-user-area-expandable-after .change-language{
    display:unset;
}

/**/
prm-alma-viewer kb-language{
    display: none;
}

kb-language button.change-language{
    text-align: center;
}