.md-autocomplete-suggestions .suggestion-scope{
color: $secondary-color;
}

.search-options md-divider{
  display: none;
}

prm-search-bar{
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
  ._md-text{
    color:black !important;
  }
}

.search-actions.layout-align-xs-start-center{
  align-items: center;
}

.facet-to-left-spacer{
  display: none;
}

div.search-elements-wrapper{
  max-width: 100% !important;
  flex-basis: 100% !important;
}
prm-search-bar .advanced-search-backdrop{
  background-color: transparent;
}
.search-switch-buttons.facet-to-left-advanced-search{
  position: relative;
  bottom: -40px;
  left: -200px;
  padding-left: 0 !important;
}

button.switch-to-advanced, button.switch-to-simple{
  background-color: transparent !important;
  &:hover, &:focus{
    background-color: transparent !important;
  }
}

button.switch-to-simple{
  top: -75px;
  right: -200px;
  color: $secondary-color!important;
}