button, .md-button{
  font-family: sans-serif;
  line-height: 1.15;
  border-radius: 5px;
  height: 2.875rem;
  outline: none;
  font-size: 14px;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  margin: 0 .75rem .75rem 0;
}
.multiselect-submit .multiselect-submit-inner .md-button.md-primary:focus,
.multiselect-submit .multiselect-submit-inner .md-button.md-primary:hover {
  background-color: darken($secondary-color, 10%);
}

.md-button.button-large{
  font-size: 14px;
}
.multiselect-submit .multiselect-submit-inner .md-button.md-primary {
  background-color: $secondary-color;
}