#facets {
  .section-title, .sidebar-header {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
  }

  h3.section-title-header, strong {
    margin-left: 0;
    font-weight: 400 !important;
  }

  md-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  div.md-chip, button.button-as-link {
    width: 100%;
  }

  prm-facet-range button.button-as-link{
    width: 71px;
  }

  md-icon[md-svg-icon="primo-ui:exclude-facet"]{
    position: relative;
  }

  // Facet not sticky
  .primo-scrollbar {
    position: relative !important;
  }
}

