.prm-full-view-dialog~.close-button.md-icon-button prm-icon {
  color: $secondary-color !important;
}


/*CSS to Hide Virtual Browse and Virtual Browse Button/link on Full Display */
#virtualBrowse {
  display:none;
}
button[aria-label="Virtual Browse"]{
  display:none;
}

/* Change the order, and move the send to section to the top */
#full-view-container >*:first-child {
  display: flex;
  flex-direction: column;
}

#action_list {
  order: 0 !important;
}

#brief {
  order: 1 !important;
}

#getit_link1_0 {
  order: 2 !important;
}

#getit_link1_1 {
  order: 3 !important;
}

#details {
  order: 4 !important;
}

#links {
  order: 5 !important;
}

#citationTrails {
  order:6 !important;
}

#virtualBrowse {
  order: 7 !important;
}

#action_list {
  margin-bottom: 2.5em;

  /*Hide the header for the send to section*/
  .section-head {
    display: none;
  }

  /* Style the action list/send to list */
  .full-view-section-content{
    padding-left: 0;
  }
  .prm-icon md-icon, prm-icon md-icon.md-primoExplore-theme, span.button-text{
    color: $secondary-color !important;
  }
  md-nav-bar nav{
    justify-content: left;
  }
}


/* Remove the services index navigation menu in the full display */
.full-view-inner-container .services-index-under{
  display: none;
}