html,
.prm-text,
body,
a.a-tag-as-wrapper,
.md-button.arrow-link-button .a-tag-as-wrapper.button-content,
a.a-tag-as-wrapper:hover, .recommendations-title:hover > span > span.a-tag-as-wrapper,
.recommendations-title.hover > span > span.a-tag-as-wrapper,
prm-tags-list .md-chips .md-chip .md-chip-content:hover strong.a-tag-as-wrapper,
prm-tags-list .md-chips md-chip .md-chip-content:hover strong.a-tag-as-wrapper,
prm-tags-list md-chips .md-chip .md-chip-content:hover strong.a-tag-as-wrapper,
prm-tags-list md-chips md-chip .md-chip-content:hover strong.a-tag-as-wrapper,
a.a-tag-as-wrapper:focus, .hack-a-tag-unclickable a,
.hack-a-tag-unclickable .md-button.arrow-link-button .button-content,
.md-button.arrow-link-button .hack-a-tag-unclickable .button-content,
.prm-user-menu-content .user-menu-header,
prm-atoz-search-bar,
prm-browse-search-bar,
prm-tags-search-bar,
prm-newspapers-search-bar,
prm-virtual-browse-item md-card md-card-title,
prm-virtual-browse-item md-card md-card-content,
md-input-container.static-select.md-input-has-value label,
md-input-container.static-select.md-input-has-value label:not(.md-no-float),
.presentable-disabled-inputs md-input-container label,
md-tooltip.bright-tooltip .md-content,
md-tooltip.bright-tooltip ._md-content,
md-toolbar.transparent-toolbar,
md-toolbar.md-primoExplore-theme.transparent-toolbar,
md-toolbar.transparent-toolbar:not(.md-menu-toolbar),
md-toolbar.default-toolbar,
md-toolbar.md-primoExplore-theme.default-toolbar,
md-toolbar.default-toolbar:not(.md-menu-toolbar){
  margin: 0;
  font-family: "nowayregular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.prm-positive, .status-available, [class*="available"], [class*="FT"], .not_restricted, .ext_not_restricted, .fulltext, .fulltext_linktorsrc, .fulltext_newspaper, .fulltext_linktorsrc_newspaper, .fulltext_linktorsrc_topic, .fulltext_topic {
  color: $grey;
}
a:hover{
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}
// Change icon colors
md-content md-icon{

}

.md-button.button-confirm{
  color: #171717;
}

.item-title a {
  text-decoration: none !important;
}

div.list-items-list.pages-separated-with-gaps.layout-column,.sidebar{
  margin:0 .75rem;
  background-color: white;
}

.sidebar{
  margin-left: 0;
}

md-content > div.flex-order-2{
  margin-right: 0;
}

div.flex-0, md-content > div, .sidebar, md-content{
  &:empty{
    display: none;
  }
}