.page-notification{
  justify-content: left;

  a{
    color:#002E70;
    &:hover{
      box-shadow: none;
      background-color: transparent;
    }
  }

  .md-toast-content{
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    min-height: 0;
    &:before{
      min-height: 0;
    }
  }
}