// Search result on top of header

@media print, screen and (min-width: 64em) {
  //.org-01c45fc6-df1a-4fd8-b8c3-d1ff8e3b519d {
  //  padding-bottom: 3rem;
  //}
  button.switch-to-advanced, button.switch-to-simple {
    display: block;
  }
  md-content{
    overflow: visible !important;
  }
  md-content, prm-search > div.layout-row{
    z-index: 2;
  }
  md-content > div, .sidebar {
    margin-top: -84px;
    z-index: 2;
  }

}

