.org_navigation-header {
  order:-3;
  position: relative;
  background-color: #002E70 !important;
  padding: 12px 0;
  display: block;
  height: 48px;
  .inner-content {
    padding-left: 2.5em;
    padding-right: 2.5em;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .logo {
    background-image: url(../img/logo-navigation-header.png);
    width: 95px;
  }

  .right-panel a {
    float: right;
    color: #eefbfa;
    font-family: 'nowaymedium';
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -0.2px;
    line-height: 24px;
  }
}

// Change the order of the top bars

prm-explore-main, prm-account{
  display: flex;
  flex-direction: column;

  .org_navigation-header {
    order: -3;
  }

  prm-topbar{
    order:-2;
  }

  prm-search-bar{
    order:-1;
  }
}
