#facets {
  .section-title,
  .sidebar-header {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
  }

  h3.section-title-header,
  strong {
    margin-left: 0;
    font-weight: 400 !important;
  }

  md-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  div.md-chip,
  button.button-as-link {
    width: 100%;
  }

  prm-facet-range button.button-as-link {
    width: 71px;
  }

  md-icon[md-svg-icon="primo-ui:exclude-facet"] {
    position: relative;
  }

  // Facet not sticky
  .primo-scrollbar {
    position: relative !important;
  }

  /* 'Søg også materialer uden fuldtekstadgang' above 'Afgræns resultat' */
  .sidebar-inner-wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar-inner-wrapper .sidebar-section:nth-child(2) {
    order: -5;
  }
}

prm-facet .switch-results{
   md-switch._md-checked,
   md-switch.md-checked {
    ._md-label,
    .md-label,
    ._md-bar,
    .md-bar,
    ._md-thumb,
    .md-thumb{
      color: #002E70;
    }

    ._md-bar,
    .md-bar,
    .md-thumb,
    ._md-thumb{
      background-color: #002E70;
    }
  }

  md-switch:focus.active,
  md-switch:hover.active{
    background-color: #002E70;
  }
}