prm-static[section="homepage"]{
  padding:0;

  .default-card{
    padding: 1.5rem;
    .cell{
      padding-left:1rem;
      padding-right: 1rem;
    }
  }
  .org-c2710682-7e51-4505-bd94-d40665c25bda{
    a{
      margin-bottom: .75rem;
      &:hover, &:active{
        background-color: transparent;
        color: inherit;
        box-shadow: none;
      }
    }
    a, a div{
      width:100%;
    }
  }
}
