// Fetch item fields more visibale color
.request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore){
  opacity: 1;
}

// Change the button's border and background color for the journal and database search
.prm-alert-border, .bar.alert-bar, .classic-input .search-scope {
  border-color: #fff6c4;
}
.prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
  background-color: #fff6c4;
}

// Change title color in result list in browse search
md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
  h3{
    color: $links;
  }
}

// Push footerAndHelp further down when there is no content
primo-explore > div {
  min-height: 70%;
}

// Fixes style issues in the prm-search reslt toolbar
prm-search-result-list prm-search-result-tool-bar{
  padding-right: 1.5rem;
  md-toolbar.md-toolbar-tools.results-title{
    background-color: white;
    padding-left: 1rem!important;
  }
}

// Fixes the original bug for floating icons hide under the search result toolbox
prm-search-bookmark-filter #fixed-buttons-holder.fixed-to-top{
  top: 6em!important;
}

// Fixes the original bug for floating icons hide under the selected post
prm-explore-main .header {
  z-index: 15;
}

#searchResultsContainer prm-search-result-availability-line span.fulltext[translate="delivery.code.fulltext"] {
  color: $links;
}

button span[class*="available"],
button span.fulltext{
  color: $secondary-color !important;
}

::selection {
  background: #D6D6D6;
}