// Fetch item fields more visibale color
.request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore){
  opacity: 1;
}

// Change the button's border and background color for the journal and database search
.prm-alert-border, .bar.alert-bar, .classic-input .search-scope {
  border-color: #fff6c4;
}
.prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
  background-color: #fff6c4;
}

// Change title color in result list in browse search
md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
  h3{
    color: $links;
  }
}

// Push footer further down when there is no content
primo-explore > div {
  min-height: 70%;
}
