// Fetch item fields more visibale color
.request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore) {
  opacity: 1;
}

// Change the button's border and background color for the journal and database search
.prm-alert-border, .bar.alert-bar, .classic-input .search-scope {
  border-color: #fff6c4;
}

.prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
  background-color: #fff6c4;
}

// Change title color in result list in browse search
md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
  h3 {
    color: $links;
  }
}

// Push footerAndHelp further down when there is no content
primo-explore > div {
  min-height: 70%;
}

// Fixes style issues in the prm-search reslt toolbar
prm-search-result-list prm-search-result-tool-bar {
  padding-right: 1.5rem;

  md-toolbar.md-toolbar-tools.results-title {
    background-color: white;
    padding-left: 1rem !important;
  }
}

// Fixes the original bug for floating icons hide under the search result toolbox
prm-search-bookmark-filter #fixed-buttons-holder.fixed-to-top {
  top: 6em !important;
}

kb-help-page #fixedButtonsHolder.fixed-to-top {
  top: 26em !important;
  position: fixed;
  right: 2em;
  z-index: 15;
  animation: animateStickyButtonIn .7s cubic-bezier(.25, .8, .25, 1) forwards;

  button {
    color: #080606;
    background-color: rgba(58, 58, 58, 0.1);
  }
}

// Fixes the original bug for floating icons hide under the selected post
prm-explore-main .header {
  z-index: unset;
}

#searchResultsContainer prm-search-result-availability-line span.fulltext[translate="delivery.code.fulltext"] {
  color: $links;
}

button span[class*="available"],
button span.fulltext {
  color: $secondary-color !important;
}

::selection {
  background: #D6D6D6;
}

.dark-toolbar prm-pre-filters {
  color: $secondary-color;
}

.medium-uppercase-bold {
  font-size: 1em;
  margin: 0;
  color: #002e70;
  padding-bottom: 20px;
}
md-menu-item.kb-edit-pincode-ctm {
  display: none;
}
md-menu-item.kb-edit-pincode-ctm a{
  box-shadow: none;
}
md-menu-content md-menu-item.kb-edit-pincode-ctm {
  display: block;
}


// Style dialog box
md-dialog.light-on-dark-dialog {
  background-color: rgba(0, 46, 112, 0.8);
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;

  .custom-links-container{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  md-dialog-content prm-main-menu > div > div {
    background-color: #CAF0FE;
    color: #002e70;
  }

  .md-button {
    color: #002e70;
  }

  a.transparent-card {
    align-items: start;
    align-content: start;

    br {
      display: none;
    }
    &:hover,
    &:focus {
      background-color: transparent!important;
      border-bottom: none!important;
    }

    > span {
      &:hover,
      &:focus {
        color: #002e70;
        background-color: transparent;
        border-bottom: 2px solid #002E70;
        transition: border-bottom-color 0.1s ease-in-out;
      }
      &.md-subhead{
        display: none;
      }
    }

  }
}

prm-main-menu[menu-type=full] .custom-links-container .main-menu-button {
  width: 100%;
}

prm-main-menu[menu-type=full] .md-button .md-headline, prm-main-menu[menu-type=full] .overlay-menu-item .md-headline {
  color: #002e70;
  font-weight: normal;
  font-size: 20px;
}

prm-main-menu[menu-type=full] .custom-links-container .main-menu-button .transparent-card {
  padding: 0;
}

.background-dark md-backdrop.md-opaque {
  top: 48px;
}

prm-banner-card-content > a{
  display: inline;
  text-decoration: none;
  md-truncate.bigger-title.main-text-banner.md-truncate {
    line-height: normal;
  }
}

// Make resource recommender close button more visible on both light and dark image backgrounds
prm-resource-recommender {
  .main-banner-content button[data-qa="close_banner_btn"],
  .main-banner-content button[data-qa="close_banner_btn"]:hover {
    color: #fff;
    background-color: #3a3a3a;
  }

  & > div:last-of-type {
    border: solid 1px lightgray;
    padding: 10px;
    position: relative;
    //display: none;
    &.visible{
      display: flex;
    }
  }

  button#closeRecommender {
    position: absolute;
    top: 0;
    right: 0;
    color: #3a3a3a;
    background: rgba(58, 58, 58, .12);
  }
}