// Fetch item fields more visibale color
.request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore){
  opacity: 1;
}

// Change the button's border and background color for the journal and database search
.prm-alert-border, .bar.alert-bar, .classic-input .search-scope {
  border-color: #fff6c4;
}
.prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
  background-color: #fff6c4;
}

// Change title color in result list in browse search
md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
  h3{
    color: $links;
  }
}

// Push footerAndHelp further down when there is no content
primo-explore > div {
  min-height: 70%;
}

// Fixes style issues in the prm-search reslt toolbar
prm-search-result-list prm-search-result-tool-bar{
  padding-right: 1.5rem;
  md-toolbar.md-toolbar-tools.results-title{
    background-color: white;
    padding-left: 1rem!important;
  }
}

// Fixes the original bug for floating icons hide under the search result toolbox
prm-search-bookmark-filter #fixed-buttons-holder.fixed-to-top{
  top: 6em!important;
}

kb-help-page #fixedButtonsHolder.fixed-to-top {
  top: 26em !important;
  position: fixed;
  right: 2em;
  z-index: 15;
  animation: animateStickyButtonIn .7s cubic-bezier(.25, .8, .25, 1) forwards;

  button{
    color: #080606;
    background-color: rgba(58, 58, 58, 0.1);
  }
}

// Fixes the original bug for floating icons hide under the selected post
prm-explore-main .header {
  z-index: 15;
}

#searchResultsContainer prm-search-result-availability-line span.fulltext[translate="delivery.code.fulltext"] {
  color: $links;
}

button span[class*="available"],
button span.fulltext{
  color: $secondary-color !important;
}

::selection {
  background: #D6D6D6;
}

.dark-toolbar prm-pre-filters{
  color:$secondary-color;
}

.medium-uppercase-bold{
  font-size: 1em;
  margin: 0;
  color: #002e70;
  padding-bottom: 20px;
}
md-menu-item.kb-edit-pincode-ctm {
  display: none;
}
md-menu-item.kb-edit-pincode-ctm a{
  box-shadow: none;
}
md-menu-content md-menu-item.kb-edit-pincode-ctm {
  display: block;
}