.md-subheader._md.md-primoExplore-theme{

  .text.tiny-uppercase-text{
    font-weight: 400 !important;
    text-transform: unset;
    font-style: italic;
    font-size: 16px;
    position: relative;
    top:-3px;
  }
}

div.list-item-wrapper{
  background-color: white;
  h3.item-title{
    font-weight: 300;
  }
  a{
    text-decoration: none;
  }
  prm-brief-result .item-title span{
    color: $secondary-color;
    mark{
      background-color: transparent;
      color: $secondary-color;
    }
  }
  [class*="available"]{
    color: $grey;
  }
  span.button-content:hover,
  .md-button.arrow-link-button:hover .button-content{
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .media-content-type, .prm-notice{
    font-family: $font_r;
    color: $grey;
  }
  .ext_not_restricted{
    color: $secondary-color;
  }
}

div.flex-order-4:empty{
  display: none;
}

div.list-items-list{
  padding: .5em .75rem;
}