body, h1, h2, h3, h4{
  letter-spacing: -0.2px;
  text-align: left;
  line-height: 24px;
  font-family: $font_m;
}

body, html{
  font-family: $font_r;
  font-size: 16px;
  color: $black;
  background-color: white;
}

h1{
  font-family: $font_r;
  font-size: 36px;
  line-height: 48px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
  letter-spacing: -0.18px;
}

mark{
  background-color: transparent;
  box-shadow: inset 0 -0.3em 0 0 $theme-yellow-100;
}