prm-request-services .labeled-block .block-body {
    max-height: 30em;
}

prm-request-services h3.section-title{
    display:none;
}

prm-request-services prm-service-button button.button-as-link,
prm-request-services prm-service-button button.md-button.button-as-link{
    background-color: #002E70;
    border: 1px solid #002E70;
    color: white;
    font-family: "nowayregular", sans-serif;
    margin: 1rem;
    border-radius: 5px;
    font-size: .75rem;
    height: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

prm-request-services prm-service-button button.button-as-link:hover:not([disabled]),
prm-request-services prm-service-button button.md-button.button-as-link:hover:not([disabled]){
    background-color: #00193d;
    color: white;
}