<header class="org_navigation-header ">
    <div class="inner-content grid-container">
        <div class="grid-x">
            <div class="small-6 cell">
                <div class="logo">
                    &nbsp;
                </div>
            </div>
            <div class="right-panel small-6 cell">
                <div id="backTo" ng-click="$ctrl.showBackToMenu($event)">
                    <span translate="fulldisplay.topnavigation.list.placeholder"></span>
                    <span class="menu-arrow"></span>
                </div>
                <div id="backToItems" style="display: none;">
                    <div style="position: fixed;top: 0;left: 0;width: 100vw;height: 100vw;z-index: 2000;background-color: transparent;"
                         ng-click="$ctrl.hideBackToMenu($event)">
                    </div>
                    <ul style="z-index: 2001;">
                        <li ng-repeat="(index, item) in $ctrl.menu.items">
                            <a href="{{'fulldisplay.topnavigation.list.link' + (index + 1) | translate}}"><span translate={{item}}></span>
                                <prm-icon class="md-icon-button-custom" icon-type="svg" svg-icon-set="primo-actions"
                                          icon-definition="permalink">

                                </prm-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>